.container {
  position: absolute;
  top: -6px;
  right: -10px;
  width: 20px;
  height: 15px;
  padding: 5px;
  background-color: whitesmoke;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 12px;
}
